html {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: #000033;
}

.top {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
}

.cinema {
    position: relative;
    left: 0px;
    top: 0px;
}

.under {
    z-index: -1;
}

.over {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-top: auto;
    left: 20%;
    top: 11%;
    width: 60%;
    height: 80%;
    z-index:-1;
}

.document {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-top: auto;
    left: 21%;
    top: 11%;
    width: 58%;
    height: 73%;
    z-index: 999999;
    border: none;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.lid {
    display: block;
    width: 75%;
    height: auto;
}

.interaction-wall {
    font-size: 0;
    text-align: center;
    width: 100%;
    max-width: 100%;
}

.interaction-brick {
    width: 100px;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
}

.interaction-box-chat {
    width: 55px;
    height: 55px;
    background-image: url(../images/icons/comment-alt.svg);
    background-repeat: no-repeat;
    display: block;
    margin: 5px auto 20px auto;
    border-radius: 5px;
    cursor: pointer;
}

.interaction-box-search {
    width: 55px;
    height: 55px;
    background-image: url(../images/icons/search.svg);
    background-repeat: no-repeat;
    display: block;
    margin: 5px auto 20px auto;
    border-radius: 5px;
    cursor: pointer;
}

.interaction-box-lamp {
    width: 55px;
    height: 55px;
    background-image: url(../images/icons/lightbulb.svg);
    background-repeat: no-repeat;
    display: block;
    margin: 5px auto 20px auto;
    border-radius: 5px;
    cursor: pointer;
}

.interaction-box-atom {
    width: 55px;
    height: 55px;
    background-image: url(../images/icons/logo-ionic.svg);
    background-repeat: no-repeat;
    display: block;
    margin: 5px auto 20px auto;
    border-radius: 5px;
    cursor: pointer;
}

.interaction-box-tools {
    width: 55px;
    height: 55px;
    background-image: url(../images/icons/wrench.svg);
    background-repeat: no-repeat;
    display: block;
    margin: 5px auto 20px auto;
    border-radius: 5px;
    cursor: pointer;
}

.interaction-box-papers {
    width: 55px;
    height: 55px;
    background-image: url(../images/icons/file-alt.svg);
    background-repeat: no-repeat;
    display: block;
    margin: 5px auto 20px auto;
    border-radius: 5px;
    cursor: pointer;
}

.interaction-box-off {
    width: 55px;
    height: 55px;
    background-image: url(../images/icons/power-off.svg);
    background-repeat: no-repeat;
    display: block;
    margin: 5px auto 20px auto;
    border-radius: 5px;
    cursor: pointer;
}

iframe {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}
