#spr2_14f730f * {
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

#spr1_14f730f, #spr2_14f730f {
    clip: rect(0px, 960px, 540px, 0px);
}
